{% extends 'providusboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 





{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container py-3">
        <!-- <span class="mb-4 text-center" style="font-weight: 800; font-size: 30px;">Buy Airtime</span> -->
        <p class="mb-2">Enter Reference Number</p>
        <div class="pb-3 mb-1" style="width: 40%;">
            {{form.transaction_reference|as_crispy_field}}
    </div>
    <button type="submit" class="btn btn-primary btn-sm shadow-sm container"; style=" border: none; border-radius: 30px; background-color: #B3403D;width:fit-content;"">Check Transaction Status</button>
</form>
{% endblock content %}