{% extends 'bills/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script>
    function populate(s1, s2){
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);
        s2.innerHTML = '';
        
        if (s1.value == 'SHOWPRWASIE36'){
            var optionArray = 
            [
                
                '20500|NGN 20500, 1 Month',
                '41000|NGN 41000, 2 Month',
                '61500|NGN 61500, 3 Month',
                '82000|NGN 82000, 4 Month',
                '102500|NGN 102500, 5 Month',
                '123000|NGN 123000, 6 Month',
                '143500|NGN 143500, 7 Month',
                '164000|NGN 164000, 8 Month',
                '184500|NGN 184500, 9 Month',
                '205000|NGN 205000, 10 Month',
                '225500|NGN 225500, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWPRWE33'){
            var optionArray = 
            [
                
                '23000|NGN 23000, 1 Month',
                '46000|NGN 46000, 2 Month',
                '69000|NGN 69000, 3 Month',
                '92000|NGN 92000, 4 Month',
                '115000|NGN 115000, 5 Month',
                '138000|NGN 138000, 6 Month',
                '161000|NGN 161000, 7 Month',
                '184000|NGN 184000, 8 Month',
                '207000|NGN 207000, 9 Month',
                '230000|NGN 230000, 10 Month',
                '253000|NGN 253000, 12 Month',
            ]

        }

        else if (s1.value == 'COMPE36'){
            var optionArray = 
            [
                '7900|NGN 7900, 1 Month',
                '15800|NGN 15800, 2 Month',
                '23700|NGN 23700, 3 Month',
                '31600|NGN 31600, 4 Month',
                '39500|NGN 39500, 5 Month',
                '47400|NGN 47400, 6 Month',
                '55300|NGN 55300, 7 Month',
                '63200|NGN 63200, 8 Month',
                '71100|NGN 71100, 9 Month',
                '79000|NGN 79000, 10 Month',
                '86900|NGN 86900, 12 Month',

            ]

        }

        else if (s1.value == 'COMPLE36'){
            var optionArray = 
            [
                
                '12400|NGN 12400, 1 Month',
                '24800|NGN 24800, 2 Month',
                '37200|NGN 37200, 3 Month',
                '49600|NGN 49600, 4 Month',
                '62000|NGN 62000, 5 Month',
                '74400|NGN 74400, 6 Month',
                '86800|NGN 86800, 7 Month',
                '99200|NGN 99200, 8 Month',
                '111600|NGN 111600, 9 Month',
                '124000|NGN 124000, 10 Month',
                '136400|NGN 136400, 12 Month',
            ]

        }

        else if (s1.value == 'PRWE36'){
            var optionArray = 
            [
                
                '18400|NGN 18400, 1 Month',
                '36800|NGN 36800, 2 Month',
                '55200|NGN 55200, 3 Month',
                '73600|NGN 73600, 4 Month',
                '92000,|NGN 92000,, 5 Month',
                '110400|NGN 110400, 6 Month',
                '128800|NGN 128800, 7 Month',
                '147200|NGN 147200, 8 Month',
                '165600|NGN 165600, 9 Month',
                '184000|NGN 184000, 10 Month',
                '202400|NGN 202400, 12 Month',
            ]

        }

        else if (s1.value == 'PRWASIE36'){
            var optionArray = 
            [
                
                '20500|NGN 20500, 1 Month',
                '41000|NGN 41000, 2 Month',
                '61500|NGN 61500, 3 Month',
                '82000|NGN 82000, 4 Month',
                '102500|NGN 102500, 5 Month',
                '123000|NGN 123000, 6 Month',
                '143500|NGN 143500, 7 Month',
                '164000|NGN 164000, 8 Month',
                '184500|NGN 184500, 9 Month',
                '205000|NGN 205000, 10 Month',
                '225500|NGN 225500, 12 Month',
            ]

        }

        else if (s1.value == 'ASIAE36'){
            var optionArray = 
            [
                
                '6200|NGN 6200, 1 Month',
                '12400|NGN 12400, 2 Month',
                '18600|NGN 18600, 3 Month',
                '24800|NGN 24800, 4 Month',
                '31000|NGN 31000, 5 Month',
                '37200|NGN 37200, 6 Month',
                '43400|NGN 43400, 7 Month',
                '49600|NGN 49600, 8 Month',
                '55800|NGN 55800, 9 Month',
                '62000|NGN 62000, 10 Month',
                '68200|NGN 68200, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWPRWFRNSE36'){
            var optionArray = 
            [
                
                '25550|NGN 25550, 1 Month',
                '51100|NGN 51100, 2 Month',
                '76650|NGN 76650, 3 Month',
                '102200|NGN 102200, 4 Month',
                '127750|NGN 127750, 5 Month',
                '153300|NGN 153300, 6 Month',
                '178850|NGN 178850, 7 Month',
                '204400|NGN 204400, 8 Month',
                '229950|NGN 229950, 9 Month',
                '255500|NGN 255500, 10 Month',
                '281050|NGN 281050, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWPRWE35'){
            var optionArray = 
            [
                
                '28050|NGN 28050, 1 Month',
                '56100|NGN 56100, 2 Month',
                '84150|NGN 84150, 3 Month',
                '112200|NGN 112200, 4 Month',
                '140250|NGN 140250, 5 Month',
                '168300|NGN 168300, 6 Month',
                '196350|NGN 196350, 7 Month',
                '224400|NGN 224400, 8 Month',
                '252450|NGN 252450, 9 Month',
                '280500|NGN 280500, 10 Month',
                '308550|NGN 308550, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWPRWE36'){
            var optionArray = 
            [
                
                '18400|NGN 18400, 1 Month',
                '36800|NGN 36800, 2 Month',
                '55200|NGN 55200, 3 Month',
                '73600|NGN 73600, 4 Month',
                '92000|NGN 92000, 5 Month',
                '110400|NGN 110400, 6 Month',
                '128800|NGN 128800, 7 Month',
                '147200,|NGN 147200,, 8 Month',
                '165600|NGN 165600, 9 Month',
                '184000|NGN 184000, 10 Month',
                '202400|NGN 202400, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWASIAE36'){
            var optionArray = 
            [
                
                '9100|NGN 9100, 1 Month',
                '18200|NGN 18200, 2 Month',
                '27300|NGN 27300, 3 Month',
                '36400|NGN 36400, 4 Month',
                '45500|NGN 45500, 5 Month',
                '54600|NGN 54600, 6 Month',
                '63700|NGN 63700, 7 Month',
                '72800|NGN 72800, 8 Month',
                '81900|NGN 81900, 9 Month',
                '91000|NGN 91000, 10 Month',
                '100100|NGN 100100, 12 Month',
            ]

        }

        else if (s1.value == 'NNJ1E36'){
            var optionArray = 
            [
                '2565|NGN 2565, 1 Month',
                '5130|NGN 5130, 2 Month',
                '7695|NGN 7695, 3 Month',
                '10260|NGN 10260, 4 Month',
                '12825|NGN 12825, 5 Month',
                '15390|NGN 15390, 6 Month',
                '17955|NGN 17955, 7 Month',
                '20520|NGN 20520, 8 Month',
                '23085|NGN 23085, 9 Month',
                '25650|NGN 25650, 10 Month',
                '28215|NGN 28215, 12 Month',  

            ]

        }

        else if (s1.value == 'NNJ2E36'){
            var optionArray = 
            [
                
                '4615|NGN 4615, 1 Month',
                '9230|NGN 9230, 2 Month',
                '13845|NGN 13845, 3 Month',
                '18460|NGN 18460, 4 Month',
                '23075|NGN 123075, 5 Month',
                '27690|NGN 27690, 6 Month',
                '32305|NGN 32305, 7 Month',
                '36920|NGN 36920, 8 Month',
                '41535|NGN 229950, 9 Month',
                '46150|NGN 46150, 10 Month',
                '50765|NGN 50765, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWGWALLE36'){
            var optionArray = 
            [
                
                '4400|NGN 4400, 1 Month',
                '8800|NGN 8800, 2 Month',
                '13200|NGN 13200, 3 Month',
                '17600|NGN 17600, 4 Month',
                '22000|NGN 22000, 5 Month',
                '26400|NGN 26400, 6 Month',
                '30800|NGN 30800, 7 Month',
                '35200|NGN 35200, 8 Month',
                '39600|NGN 39600, 9 Month',
                '44000|NGN 44000, 10 Month',
                '48400|NGN 48400, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWCOMPLE36'){
            var optionArray = 
            [
                
                '13850|NGN 13850, 1 Month',
                '27700|NGN 27700, 2 Month',
                '41550|NGN 41550, 3 Month',
                '55400|NGN 55400, 4 Month',
                '69250|NGN 69250, 5 Month',
                '83100|NGN 83100, 6 Month',
                '96950|NGN 96950, 7 Month',
                '110800|NGN 110800, 8 Month',
                '124650|NGN 124650, 9 Month',
                '138500|NGN 138500, 10 Month',
                '152350|NGN 152350, 12 Month',
            ]

        }

        else if (s1.value == 'SHOWCOMPE36'){
            var optionArray = 
            [
                
                '9350|NGN 9350, 1 Month',
                '18700|NGN 18700, 2 Month',
                '28050|NGN 28050, 3 Month',
                '37400|NGN 37400, 4 Month',
                '46750|NGN 46750, 5 Month',
                '56100|NGN 56100, 6 Month',
                '65450|NGN 65450, 7 Month',
                '74800|NGN 74800, 8 Month',
                '84150|NGN 84150, 9 Month',
                '93500|NGN 93500, 10 Month',
                '102850|NGN 102850, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWNNJ2E36'){
            var optionArray = 
            [
                
                '6065|NGN 6065, 1 Month',
                '12130|NGN 12130, 2 Month',
                '18195|NGN 18195, 3 Month',
                '24260|NGN 24260, 4 Month',
                '30325|NGN 30325, 5 Month',
                '36390|NGN 36390, 6 Month',
                '42455|NGN 42455, 7 Month',
                '48520|NGN 48520, 8 Month',
                '54585|NGN 54585, 9 Month',
                '60650|NGN 60650, 10 Month',
                '66715|NGN 66715, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWNNJ1E36'){
            var optionArray = 
            [
                
                '4015|NGN 4015, 1 Month',
                '8030|NGN 8030, 2 Month',
                '12045|NGN 12045, 3 Month',
                '16060|NGN 16060, 4 Month',
                '20075|NGN 20075, 5 Month',
                '24090|NGN 24090, 6 Month',
                '28105|NGN 28105, 7 Month',
                '32120|NGN 32120, 8 Month',
                '36135|NGN 36135, 9 Month',
                '40150|NGN 40150, 10 Month',
                '44165|NGN 44165, 12 Month',
            ]

        }
        else if (s1.value == 'SHOWNLTESE36'){
            var optionArray = 
            [
                
                '4750|NGN 4750, 1 Month',
                '9500|NGN 9500, 2 Month',
                '14250|NGN 14250, 3 Month',
                '19000|NGN 19000, 4 Month',
                '23750|NGN 23750, 5 Month',
                '28500|NGN 28500, 6 Month',
                '33250|NGN 33250, 7 Month',
                '38000|NGN 38000, 8 Month',
                '42750|NGN 42750, 9 Month',
                '47500|NGN 47500, 10 Month',
                '52250|NGN 52250, 12 Month',
            ]

        }

        else if (s1.value == 'NLTESE36'){
            var optionArray = 
            [
                
                '1850|NGN 1850, 1 Month',
                '3700|NGN 3700, 2 Month',
                '5550|NGN 5550, 3 Month',
                '7400|NGN 7400, 4 Month',
                '9250|NGN 9250, 5 Month',
                '11100|NGN 11100, 6 Month',
                '12950|NGN 12950, 7 Month',
                '14800|NGN 14800, 8 Month',
                '16650|NGN 16650, 9 Month',
                '18500|NGN 18500, 10 Month',
                '20350|NGN 20350, 12 Month',
            ]

        }
        
        else if (s1.value == 'PRWFRNSE36'){
            var optionArray = 
            [
                '25550|NGN 25550, 1 Month',
                '51100|NGN 51100, 2 Month',
                '76650|NGN 76650, 3 Month',
                '102200|NGN 102200, 4 Month',
                '127750|NGN 127750, 5 Month',
                '153300|NGN 153300, 6 Month',
                '178850|NGN 178850, 7 Month',
                '204400|NGN 204400, 8 Month',
                '229950|NGN 229950, 9 Month',
                '255500|NGN 255500, 10 Month',
                '281050|NGN 281050, 12 Month',
            ]
        }
        

        for(var option in optionArray){
                var pair = optionArray[option].split("|");
                var newOption = document.createElement("option");
                newOption.value = pair[0];
                newOption.innerHTML = pair[1];
                s2.options.add(newOption);
            }
    }    
</script>

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="container py-3">
            <!-- <span class="mb-4 text-center" style="font-weight: 800; font-size: 30px;">Buy Airtime</span> -->
            
            <!-- service_type = "dstv" -->
            <p class="mt-4">Smart Card Number</p>
            <input id="smart-card" style="border-radius: 15px;" name="smartcard_number" type="text" class="form-control" onkeyup="inputDetails()">

            <p class="mt-4">Bouquets</p>
            <select style="border-radius: 15px;" class='form-select' name="code" id="code" onchange="populate(this.id, 'total_amount')">
                <option value=""></option>
                <option value="SHOWPRWASIE36">DStv Premium Asia Showmax</option>
                <option value="SHOWPRWE33">DStv Premium Asia Xtraview Showmax</option>
                <option value="COMPE36">DStv Compact</option>
                <option value="COMPLE36">DStv Compact Plus</option>
                <option value="PRWE36">DStv Premium</option>
                <option value="PRWASIE36">DStv Premium Asia</option>
                <option value="ASIAE36">Asian Bouqet</option>
                <option value="SHOWPRWFRNSE36">DStv Premium French Showmax</option>
                <option value="SHOWPRWE35">DStv Premium French Xtraview Showmax</option>
                <option value="SHOWPRWE36">DStv Premium Showmax</option>
                <option value="SHOWASIAE36">DStv Asia Showmax</option>
                <option value="NNJ1E36">DStv Yanga Bouquet E36</option>
                <option value="NNJ2E36">DStv Confam Bouquet E36</option>
                <option value="SHOWGWALLE36">DStv Great Wall Standalone Bouquet Showmax</option>
                <option value="SHOWCOMPLE36">DStv Compact Plus Showmax</option>
                <option value="SHOWCOMPE36">DStv Compact Showmax</option>
                <option value="SHOWNNJ2E36">DStv Confam Showmax</option>
                <option value="SHOWNNJ1E36">DStv Yanga Showmax</option>
                <option value="SHOWNLTESE36">DStv Padi Showmax</option>
                <option value="NLTESE36">Padi</option>
                <option value="PRWFRNSE36">DStv Premium French</option>
            </select>

            <p class="mt-4">Price</p>
            <select style="border-radius: 15px;" class='form-select' name="total_amount" id="total_amount"></select>

            <p class="mt-4">Number of Months</p>
            <select style="border-radius: 15px;" class='form-select' name="months" id="months">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            </select>
            <p class="mt-4">Transaction Pin</p>
            <input id="pin" style="border-radius: 15px;" name="transaction_Pin" maxlength="4" type="password" class="form-control" onkeyup="inputDetails()" onkeypress="return validateNumberKey(event)">
            <button id="submit-btn" onclick="verify()" disabled type="submit" class="btn btn-primary btn-lg mt-3 shadow-sm"; style=" border: none; border-radius: 30px; background-color: #B3403D;"">Pay DSTV</button>
        </div>
        
    </form> 
</div>
<script type="text/javascript">
    

    var id_smartcrd = document.getElementById("smart-card");
    var id_code = document.getElementById("code");
    var id_amount= document.getElementById("total_amount");
    var id_months = document.getElementById("months");
    var id_pin = document.getElementById("pin");

    var submit_btn = document.getElementById("submit-btn");

    function inputDetails(){
        if(id_smartcrd.value != "" && id_code.value != "" && id_amount.value != "" && id_months.value != "" && id_pin.value != "") { 
            submit_btn.disabled = false; 
            submit_btn.setAttribute('type', 'sumbit');
            
        }
    }

    function verify(){
        if(id_months.value == "" || id_code.value == "" || id_amount.value == "" || id_months.value == "" || id_pin.value == "") { 
            submit_btn.disabled = true; 
            submit_btn.setAttribute('type', 'button');
        }
    }

    function validateNumberKey(e)
    {
        var charCode = (e.which) ? e.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

        return true;
    }
</script>

{% include 'bills/footer.html' %}
{% endblock content %}
    